@charset "utf-8";

/** ------ 全体 ------ **/
html, body {
  height            : 100%;
  margin            : 0%;
}
body {
  width             : 100%;
  padding-top       : 100px;
  background-color  : #333;
  color             : white;
}
h1,h2,h3,h4,h5,p,a{
	color             : white;
}
p{
	font-size         : 13px;
}
a{
  text-decoration   : none;
  font-size         : 15px;
}
a:hover{
  color             : deeppink;
}
article{
  position          : relative;
  width             : 800px;
  margin            : 0 auto;
}
section{
	padding           : 40px 0 30px;
	width             : 90%;
  flex-direction    : column;
  min-height        : 100vh;
  margin            : 0 auto;
}
/** ------ 全体 end ------ **/



/** ------ その他 ------ **/
#text{
  width             : 50%;
  padding           : 15px 20px;
  font-size         : 16px;
  border-radius     : 3px;
  border            : 2px solid #ddd;
  box-sizing        : border-box;
  /*横幅の解釈をpadding, borderまでとする*/
}
/** ------ その他 end ------ **/



/** ------ thead++ ------ **/
.zenny{
  position          : relative;
  right             : 40px;
  background        : #424242;
  padding           : 15px 40px;
  width             : 100%;
  border-radius     : 13px;
  margin-top        : 30px;
}
.pag_div{
  width             : 100%;
  text-align        : center;
  position          : relative;
  clear             : both;
}
textarea {
  resize            : none;
  /*テキストエリアの変更をさせない*/
  width             : 100%;
  height            : 200px;
  font-size         : 17px;
  border-radius     : 2px;
}
.postbox{
  /*新規スレッド投稿エリア*/
  position          : relative;
  right: 40px;
  width             : 100%;
  padding           : 15px 40px;
  background-color  :#424242;
  border-radius     : 13px ; 
}
/** ------ thead++ end ------ **/



/** ------ showthread (index,thread_top) ------ **/
.lll {
  /* スレッドの枠 */
  margin-top        : 20px;
  background        : #fff;
  box-shadow        : 4px 4px 4px rgba(0, 0, 0, 0.15);
  padding           : 15px 15px 15px 15px;
  border-radius     : 10px;
}
.loo {     
  /* lll中のdiv*/
  position          : relative;
  color             : #D9D7F1;
}
.loo .ioo_link {
  /*loo中のリンク*/
  display           : block;
  position          : absolute;
  top               : 0;
  left              : 0;
  width             : 100%;
  height            : 100%;
}
.loo a {                    
  text-decoration   : underline;
  color             : #333;
}
.loo a:hover{
  color             : deeppink;
}
.loo p{
  color             : #333;
}
/** ------ showthread end ------ **/



/** ------ showcontents (threadcontents) ------ **/
.that {
  /*全体div*/
  position          : relative;
}
.it{
  /*スレッド内容の枠*/
  border-radius     : 10px;
  background        : white; 
  margin            : 10px;
  font-size         : 100%; 
  color             : #212529;
  padding           : 20px;
}
.itt {
  /*いいねボタン等のエリア*/
  height            : 35px;
  margin            : 10px;
  border-radius     : 10px;
  background        : #00ff7f;
  padding           : 10px;
  text-align        : center;
}
.btn_itt {
  /*いいねボタン等*/
  background-color  : #00ff7f;
  border-color      : #00ff7f;
  border            :solid thick #00ff7f;
  text-decoration   :underline;
  cursor            : pointer;
  cursor            : hand;
  color             : #212529;
}
.btn_itt i{
  margin-right      : 15px;
}
.btn_itt a {
  color             : #212529;
}
.btn_itt:hover{
  color             : deeppink;
}
.inner_itt{
  display           : flex;
  justify-content   : space-evenly;
  color             : #212529;
}
.circle {
  /*アイコン*/
  border-radius     : 50%;
  width             : 60px;
  height            : 60px;
  object-fit        : cover;
  border            : 3px solid #999;
  padding           : 3px;
  position          : absolute;
  left              : -10%;
  margin            : 0%;
}
.pat {   /*横線（白透明）*/
  height            : 0px;
  border-radius     : 2px;
  border            : 2px solid hsl(0, 0%, 60%);
  width             : 100%;
  margin-bottom     : 5px;
}
/** ------ showcontents end ------ **/



/** ------ nav  ------ **/
nav.crumbs{
  border-bottom     : 1px solid #c0c0c0;
}
.crumbs ol {
  list-style-type   : none;
  padding-left      : 0;
}
.crumb {
  display           : inline-block;
}
.crumb a::after {
  display           : inline-block;
  color             : #c0c0c0;
  content           : '>';
  font-size         : 80%;
  font-weight       : bold;
  padding           : 0 3px;
}
/** ------ nav end ------ **/



/** ------ aside  ------ **/
.sidebar {
  position          : relative;
  width             : 700px;
  margin            : 0 auto;
}
.sidebar h2 {
  text-align        : center;
  margin            : 0;
}
.sidebar ol {
  margin            : 0;
}
.sidebar ol li{
  display           : inline-block;
}
.sidebar ol li + li {
  margin-left       : 20px;
}
.zenny_aside{
  position          : relative;
  right             : 40px;
  background        : #424242;
  padding           : 15px 40px;
  width             : 100%;
  border-radius     : 13px;
  margin-top        : 30px;
}
/** ------ aside end  ------ **/



/** ------ index.php ------ **/
.indexbody{ 
  flex-direction    : column;
  min-height        : 130vh;
  position          : relative;
}
.topbody{ 
/* display          : flex; */
  flex-direction    : column;
  min-height        : 70vh;
}
hr.ind{
  position          : relative;
  left              : -5%;
  margin-top        : 34px;
  border-top        : 3px dotted #FFF;
  width             : 110%; 
}
/** ------ index.php end ------ **/



/** ------ riyoukiyaku.php ------ **/
.kiyaku {
  text-align        : left;
}
.ri_div {
  text-align        : center;
}
.ri_div label {
  font-size         : 13px;
}
.ri_form{
  text-align        : center;
}
/** ------ riyoukiyaku.php end ------ **/



/** ------ question.php ------ **/
section.question h1{
  width             : 500px;
}
.question {
  padding           : 0;
  margin            : 0 auto;
  width             : 90%;
}
.this_com {   
  text-decoration   : underline;
}
/** ------ question.php end ------ **/



/** ------ profile.php ------ **/
wrapper{
	min-height        : 100%;
	margin-bottom     : -70px;
  /* フッタの高さと等しいネガティブマージン */
	/* また最後の子要素の潜在的なマージンとしても機能 */
}
/** ------ profile.php end ------ **/



/** ------ login.php ------ **/
.form-group{
  /*login*/
	text-align        : center;
	padding-top       : 1.5rem !important;
  text-align        : center;
  padding-top       : 1.5rem !important;
}
.login_in {
  width             : 100%;
  margin            : 0;
  padding           : 0;
}
/** ------ login.php end ------ **/



/** ------ upload.php ------ **/
.up01{
  width             : 90%;
  margin            : 0 auto;
}
.up01 h1{
  text-align        : center;
}
.up01 form{
  text-align        : center;
}
/** ------ upload.php end ------ **/



/** ------ userlist.php ------ **/
.user01{
  width: 90%;
  margin: 0 auto;
}
.user01 h2 {
  text-align: center;
}
.follow {
  min-height: 50vh;
}
.follower {
  min-height: 50vh;
}
.block {
  min-height: 50vh;
}
/** ------ userlist.php end ------ **/



/** ------ header ------**/
header {
  width             : 100%;
  height            : 100px;
  margin-bottom     : -60px;
  background        : #333;
  padding           : 20px 50px;
  box-sizing        : border-box;
  position          : fixed;
  top               : 0;
  left              : 0;
  display           : flex;
  z-index           : 9999;
}
label{
	color             : white;
	font-size         :10px;
}
header .gnav .menu {
  display           : flex;
}
header .gnav .menu li {
  list-style        : none;
}
header .a{
  color             : #fff;
}
header .a:hover{
  color             : deeppink;
}
/* ヘッダーのメニューボタンの横距離設定 */
header .gnav .menu li + li {
  margin-left       : 40px;
}
/** ------ header end ------ **/



/** ------ footer ------ **/
nav{
  text-align        : right;
}
nav li{
  list-style-type   : none;
  display           : inline;
  padding           : 11px 3px;
}
footer {
  width             : 100%;
  font-size         : 20px;
  bottom            : 0;
  clear             : both;
}
.foot-wrap {
  background-color  : #333;
  color             : #fff;
  text-align        : center;
}
.foot-wrap .menu-left, .menu-right {
  display           : inline-block;
  width             : 20%;
  margin            :30px 0 40px auto;
}
.foot-wrap ul {
  list-style        : none;
  padding           : 0;
  line-height       :20px;
}
.menu{
	display           : block;
	margin-left       : auto;
	margin-right      : auto;
	margin-bottom     :60px;
}
.foot-wrap h3 {
  border-bottom     : 3px solid #2ac5b3;
  padding           : 10px;
}
.foot-wrap a {
  text-decoration   : none;
  color             : #fff;
}
.foot-wrap a:hover {
  color             : deeppink;
}
.foot-wrap .cmark {
  display           : block;
  padding           : 10px;
  border-top        : 1px solid gray;
  width             : 80%;
  margin            : 0 auto;
  color             : gray;
}
/*@マーク等々*/
@media screen and (max-width: 900px) {
  .foot-wrap .menu-left, .menu-right {
    display         : flex;
    flex-direction  : column;
    width           : 50%;
  }
  .foot-wrap .cpr {
    display         : inline;
  }
}
/** ------ footer end ------ **/



/** ------ main2.css start ------ **/
.profile{
  position          : relative;
  padding-top       : 60px;
  background-color  : #333;
  color             : white;
  width             : 50%;
  margin            : 0 auto;
}
.profile.details{
  display           : block;
  height            : 175px;
  margin            : 5% 0;
}
.icon{
  width             : 150px!important;
  height            : 150px!important;
  margin            : 20px;
  margin-right      : 1em!important;
  transition        : transform 1s ease-out;
  float             :left;
}
.profile.details.id{
  float             :right;
  margin            : 5% 0;
  font-size         :14px;
  width             : 60%;
}
.log{
  width             : 70%;
  margin            : 5% 0;
  height            : auto;
}
.btn,
a.btn,
button.btn {
  font-size         : 16px;
  font-weight       : 700;
  line-height       : 1.5;
  position          : relative;
  display           : inline-block;
  margin            : 7px;
  padding           : 2px 4px;
  cursor            : pointer;
  -webkit-user-select: none;
  -moz-user-select  : none;
  -ms-user-select   : none;
  user-select       : none;
  -webkit-transition: all 0.3s;
  transition        : all 0.3s;
  text-align        : center;
  vertical-align    : middle;
  text-decoration   : none;
  letter-spacing    : 0.1em;
  color             : #212529;
  border-radius     : 0.5rem;
}
.setting{
	display           : inline-block;
	margin            : 15px 0 20px auto;
}
.btn--green,
a.btn--green {
  color             : #fff;
  background-color  : #00ff7f;
}
.btn--green:hover,
a.btn--green:hover {
  color             : deeppink;
  background        : #00ff7f;
}
a.btn--radius {
  border-radius     : 5px;
}
.previous {
  border-radius     : 10%;
  background-color  : #f1f1f1;
  color             : black;
  padding           : 3px;
  margin            : 5px;
}
.next {
  border-radius     : 10%;
  background-color  : #04AA6D;
  color             : white;
  padding           : 3px;
  margin            : 5px;
}
.round {
  border-radius     : 100%;
  padding           : 2px;
  margin            : 5px;
}  
.profile.setting{
  width             : 80%;
}
.followsec{
  float             : left;
}
.logout{
	float             : left;
}
/** -----  main2.css end ----- **/





/** ------ Loading ------**/
#splash {
  /*fixedで全面に固定*/
position            : fixed;
width               : 100%;
height              : 100%;
z-index             : 999;
text-align          :center;
color               :#fff;
}
/* Loading画像中央配置 */
#splash_text {
position            : absolute;
top                 : 50%;
left                : 50%;
  z-index           : 999;
transform           : translate(-50%, -50%);
color               : #fff;
width               : 100%;
}
/*IE11対策用バーの線の高さ*/
#splash_text svg{
  height            : 2px;
}
/*割れる画面のアニメーション*/
.loader_cover {
  width             : 100%;
  height            : 50%;
  background-color  : #333;
  transition        : all .2s cubic-bezier(.04, .435, .315, .9);
  transform         : scaleY(1);
}
/*上の画面*/
.loader_cover-up {
  transform-origin  : center top;
}
/*下の画面*/
.loader_cover-down {
  position          : absolute;
  bottom            : 0;
  transform-origin  : center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
  transform         : scaleY(0);
}
/** ------ Loading end ------**/
